/* src/App.module.css */
body {
  background: #ffe4e1;
}

.app {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  height: 100%;
}

.title {
  font-size: 2.5em;
  color: #333;
}

.error {
  color: red;
  margin-top: 20px;
}
